body {
    background: linear-gradient(to bottom, #000000, #333333);
    /* background-image: url('valley.jpeg');
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

#setUsername {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(75deg, rgb(40,43,54) 0%, rgb(40,43,54) 50%, rgba(40,43,54,0.8) 100%);
    /* Vertical center */
    display: table-cell;
    vertical-align: middle;
}

.form-card {
    width: 50%;
    max-width: 350px;
    padding: 0% 25% 0% 25%;
}

.form-title { 
    font-size: 42px; 
    font-family: 'Avenir'; 
    font-weight: 800; 
    letter-spacing: 0.5px; 
    color: #e8e8e8; 
    padding-bottom: 12px; 
}

.form-subtitle {
    font-size: 18px;
    font-family: 'Avenir';
    letter-spacing: 0.5px;
    color: #afafaf;
    padding-bottom: 24px;
}

.auth {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 12px;
}

#usernameInput {
    background-color: #3e404b;
    color: white;
    font-family: "Avenir";
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0px 22px 0px 10px;
    width: calc(100% - 18px - 18px);
    margin-bottom: 12px;
}

#setUsernameButton{
    width: 100%;
    height: 53px;
    color: white;
    background-color: #fa541c;
    border: none;
    outline: none;
    border-radius: 8px;
    font-family: "Avenir";
    cursor: pointer;
    transition: all .44s ease;
    -webkit-transition: all .44s ease;
    -moz-transition: all .44s ease;
}

#setUsernameButton:hover {
    filter: brightness(145%);}

#chat {
    display: none;
    padding: 10px;
    width: 83%;
    margin: auto;
}
#messageInput {
    flex-grow: 1;
    border-radius: 5rem;
    padding: 0 1rem;
    font-size: 1rem;
    background: linear-gradient(to bottom, #000000, #333333);
    color: white;
}
.username {
    color: green;
    margin:5px;
}
.welcome{
    display: block;
    margin: auto;
}
input {
    height: 50px;
    margin-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

#sendButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: white;
    font-size: large;
    cursor: pointer;
}
#sendButton img {
    width: 50px;
    height: 50px;
}

#messages {
    background-image: url('msg_bg.png');
    background-size: cover;
    overflow-y: auto;
    padding: 10px;
    margin: auto;
    border: 1px solid black;
    height: 70vh;
    width: 80%;
    display: block;
}
.messageContent {
    margin: 5px;
}
/* Add new CSS classes for received and sent messages */
.message {
    max-width: 30rem;
    width: auto;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    clear: both;
    /* border: 1px solid whitesmoke; */
    display: flex;
    border-radius: 1rem;
    background-color: #2a2a2a;
    color: white;
    font-size: 1.5rem;
  }
  
  .sent-message {
    float: right;
  }
  
  .received-message {
    float: left;
  }
  .system-message , .user-disconnected {
    width: fit-content;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    display: block;
    margin: auto;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    /* background: none; */
    border-radius: 4rem;
    color: green;
  }
  .user-disconnected{
    color: red;
  }
.header-container {
    display: flex; 
    align-items: center;
    justify-content: center; 
    padding: 10px;
    font-weight: bold;
}
.logo {
    width:  50px; 
    height: 50px;
  }
  
  .header-text {
    font-size: 2rem;
    font-weight: bold;
    color: white; 
    margin-left: 10px;
  }

  .timestamp {
    font-size: 12px;
    color: #777;
    margin: 22px 0 0 9px;  
    display: inline-block;
    vertical-align: top;
  }
  .date {
    text-align: center;
    font-size: 14px;
    color: wheat;
    padding: 7px 10px;
    margin: auto;
    width: fit-content;
    background-color: #2a2a2a;
    font-weight: bold;
  }
  